Flask==2.2.2
gunicorn==20.1.0

# Note for mysqlclient on linux, the following deps needs to be installed:
# sudo apt-get install python3-dev default-libmysqlclient-dev build-essential
mysqlclient==2.0.3
