<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Docker Container Secrets Management</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="How to store container secrets when using docker containers (or any container for that matter).">
  </head>
  <h1>Docker Container Secrets Management</h1>

  <p>Secrets management is closley related to configuration management. You want to make sure you:</p>

  <ul>
    <li>Never hardcode secrets (such as passwords) inside a container image</li>
    <li>Never commit secrets to your git repo in plain text</li>
  </ul>

  <p>So where do you put secrets?</p>

  <p>The key options are</p>

  <ul>
    <ol>A secrets management service</ol>
    <ol>Use a tool to encrypt and store your secrets</ol>
  </ul>

  <p>For secrets management for container hosting, we use the <em><a href="https://github.com/fpco/amber">Amber Secrets tool</a></em>
  to manage container secrets.</p>

  <p>The nice thing about amber is that you only have 1 secret to manage - called the <em>`AMBER_KEY`</em>, and only that single
  secret gets entered into your CI/CD pipeline tool (e.g. Github Actions, Jenkins , Azure Devops etc).</p>

  <p>If you've used these Devops platforms a lot, you'll know how cumbersome it can be enter multiple secrets into the various UIs,<br />
  secrets management becomes 'clickops' and not automated. By using a programatic tool, you can easily <em>version</em> your secrets, and
  even rotate them with an audit trail of your git history- remember the secrets are encrypted using your `AMBER_KEY`</p>

  <h2>Where can I learn more about this?</h2>

  <p>Recommended reading is <a href="https://12factor.net/config">The Twelve-Factor App- III. Config page</a> since that<br />
  goes over much of the topics covered here.</p>

  <p>When you <a href="https://container-hosting.anotherwebservice.com/">host a Docker container with content hosting</a>, you get Amber
  setup for you already to manage secrets.</p>

  <h2>What are the alternatives?</h2>

  <p>There are an overwhelming amount of options for secrets management for docker containers (and remember, that's just a brand name,<br />
  see <a href="/what-is-container-hosting">what is container hosting?</a>.</p>

  <p>Some options include:</p>

  <ul>
    <li>Hashicorp Vault- which works very well paired with their other product Consul &amp; consul template. But be prepared for high resource requirements (see their <a href="https://developer.hashicorp.com/vault/tutorials/day-one-raft/raft-reference-architecture#system-requirements">reference architecture</a>) - it's not for small toys</li>
    <li>Ansible vault - Very similar to Amber. You can <a href="https://blog.karmacomputing.co.uk/ansible-password-vault/">use Ansible to encrypt text and entire files</a>. You don't have to use Ansible to use Ansible vault</li>
  </ul>

  <p>The key takeaway is to <em>manage</em> secrets and control them carefully- ideally rotate them often. The tools change quite rapidly but the important concepts tend not to as much.</p>

</html>
