<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How do I host a Docker container</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="To host a Docker container you need a server which can run containers (like our container hosting service) but if you host to host it yourself, then you need a server with a container runtime installed.">
  </head>
  <body>
  <h1>How do I host a Docker container</h1>

  <p>It's very easy to host a Docker container.
  If you want to host yourself, then all you need is:</p>
    <ul>
      <li>A server (e.g. a linux server, typically a VPS)</li>
      <li>Install a container runtime (e.g. containerd, CR-IO)
      <li>Build &amp; run the container on your sever</li>
    </ul>
    <p>You don't need lots of fancy tools, those are the bare bones components⬆️.</p>

  <p>If you *<em>don't</em>* want host a Docker container yourself, then
  you could use Container Hosting Service to build and run your container.</p>

  <p>Another Web Service is an example of a <a href="/">Container hosting service</a> which will host a Docker container for you, either one you provide or pre-defined ones (such as a node, flask, python, php) container.</p>

  <p>The point it, to host a Docker container, all that is needed is a server and a container runtime installed on that service (such as containerd).</p>

  <p>See also <a href="/what-is-container-hosting">"What is container hosting?"</a></p>

  </body>

</html>
