<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Container hosting service | Simple Container Hosting Platform</title>
   <meta name="description" content="Simple Container hosting service to build and run your container. Choose your framework and quickly get a container hosted and repo setup automatically. Works with Github and has database and CI/CD Devops pipelines already set-up for you.">
    <!-- Global site tag (gtag.js) - Google Ads: 10995008502 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10995008502"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-10995008502');
    </script>
    <!-- Event snippet for Website sale conversion page -->
    <script>
      gtag('event', 'conversion', {
          'send_to': 'AW-10995008502/UeF_CKmp_eEDEPaH6voo',
          'transaction_id': ''
      });
    </script>

</head>

<style>
body {
    font-family: sans-serif;
    max-width: 800px;
}

@media (min-width:799px) {
    body {
        margin: 0 25%;
    }
}

li {
    padding: 5px;
}

header {
    background: black;
    color: white;
    padding: 1em;
}

.largeDot {
    font-size: 1.25em;
}

.subheading {
    font-size: 1.2em;
    font-weight: initial;
}
</style>

<header>
<h1>A Simple Container Hosting Platform<span class="largeDot">.</span></h1>

<h2 class="subheading">Container hosting service with a database &amp; CI/CD included</h2>

<small style="text-align: right;display: block;">Perfect for small projects &amp; learning.</small>

</header>

<hr />
<h2>Quickstart</h2>
<ol>
	<li>Choose your framework</li>
    <li>Connect your GitHub account</li>
	<li>Automatic project setup (database, CI/CD &amp; tagged releases)</li>
</ol>


<h2>Choose your framework</h2>

<p>Not sure? Click "<em>Flask App quickstart</em>" to get started.</p>

<ul>
    <li><a class="debounce" href="{{ github_authorize_url_flask }}">Flask App quickstart (Python)</a> 🐍</li>
    <li><a class="debounce" href="{{ github_authorize_url_django }}">Django App quickstart (Python)</a> 📰</li>
    <li>Laravel App quickstart (PHP)</li>
    <li>Express App quickstart (Node.js)</li>
    <li>Rocket App quickstart (Rust)</li>
    <li><a class="debounce" href="{{ github_authorize_url_rails }}">Rails quickstart (Ruby)</a> 💎</li>
    <li><a class="debounce" href="{{ github_authorize_url }}">No Framework</a> (bring your own)</li>
</ul>
<small>Additional frameworks being added- ask!</small>

<h3>What do I get?</h3>
<p>You will get:</p>

<ul>
    <li>An automated quickstart with the framework you choose, with Dockerfile &amp; example code</li>
    <li>Container hosting &amp; running with a web address</li>
    <li>A database, already connected to your app so you don't need to worry about that.</li>
    <li>A web address with a SSL/TLS certificate</li>
    <li>Automatic re-deploy when you do a `git push` to your repo using GitHub actions.</li>
</ul>

<hr />
<p>This service integrates with GitHub</p>
<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="Github logo" width="50px" />
<br />
<small>"GitHub" is owned by GitHub, Inc</small>

<hr />
<h3>FAQ</h3>
<style>
ul#faq li {
    padding: 15px;
}
</style>
<ul id="faq">
  <li><a href="/what-is-container-hosting">What is container hosting?</a></li>
  <li><a href="/is-docker-a-hosting-platform">Is Docker a hosting platform?</a></li>
  <li><a href="/how-do-i-host-a-docker-container">How do I host a docker container?</a></li>
  <li><a href="/what-is-the-difference-between-docker-docker-host-and-docker-container">What is the difference between Docker host and Docker container?</a></li>
  <li><a href="/docker-container-secrets-management">Docker container secrets management</a></li>
</ul>


<script>
debounceLinks = document.getElementsByClassName("debounce");
for (i=0;i<debounceLinks.length;i++){
	console.log(debounceLinks[i]);
	debounceLinks[i].addEventListener("click", function(e) {
	    e.target.innerHTML = "Please wait";
	    destination = e.target.href;
	    e.target.href="#";
	    document.location = destination;
	});
}
</script>

</html>
