<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Container hosting service | Simple Container Hosting Platform</title>
   <meta name="description" content="Simple Container hosting service to build and run your container. Choose your framework and quickly get a container hosted and repo setup automatically. Works with Github and has database and CI/CD Devops pipelines already set-up for you.">
    <!-- Global site tag (gtag.js) - Google Ads: 10995008502 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10995008502"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-10995008502');
    </script>
    <!-- Event snippet for Website sale conversion page -->
    <script>
      gtag('event', 'conversion', {
          'send_to': 'AW-10995008502/UeF_CKmp_eEDEPaH6voo',
          'transaction_id': ''
      });
    </script>

</head>

<style>
body {
    font-family: sans-serif;
    max-width: 800px;
}

@media (min-width:799px) {
    body {
        margin: 0 25%;
    }
}

li {
    padding: 5px;
}

header {
    background: black;
    color: white;
    padding: 1em;
}

.largeDot {
    font-size: 1.25em;
}

.subheading {
    font-size: 1.2em;
    font-weight: initial;
}
</style>

<header>
<h1>A Simple Container Hosting Platform<span class="largeDot">.</span></h1>

<h2 class="subheading">Container hosting service with a database &amp; CI/CD included</h2>

<small style="text-align: right;display: block;">Perfect for small projects &amp; learning.</small>

</header>

<hr />
<h2>Quickstart</h2>
<ol>
  <li>Choose your framework (or <a href="#application">application)</a></li>
    <li>Connect your GitHub account</li>
	<li>Automatic project setup (database, CI/CD &amp; tagged releases)</li>
</ol>


<h2>Choose your framework</h2>

<p>Not sure? Click "<em>Flask App quickstart</em>" to get started.</p>

<ul>
    <li><a class="debounce" href="{{ github_authorize_url_flask }}">Flask App quickstart (Python)</a> 🐍</li>
    <li><a class="debounce" href="{{ github_authorize_url_django }}">Django App quickstart (Python)</a> 📰</li>
    <li><a class="debounce" href="{{ github_authorize_url_expressFramework }}">Express App quickstart (Node.js)</a> 🟢</li>
    <li>Laravel App quickstart (PHP)</li>
    <li>Rocket App quickstart (Rust)</li>
    <li>Rails quickstart (Ruby)💎 <em>(Coming soon- ask!)</em></li>
    <!-- <li><a class="debounce" href="{{ github_authorize_url }}">No Framework</a> (bring your own)</li> -->
</ul>
<small>Additional frameworks being added- ask!</small>

<h2>But I already have a repo! How to I add container hosting to my existing app?</h2>

<p>If you simply want to host your existing application in a container and host it,<br />
enter your git repo url below and press submit, your repo will be updated with automated hosting, certificate, storage
&amp; pipelines.</p>

<br />
<form action="/host-existing-repo" method="POST" id="existing_repo_form">
    <label for="existing_repo" />Enter your existing repo url: </label>
    <input type="text" id="existing_repo_url" name="existing_repo_url" placeholder="https://github.com/KarmaComputing/container-hosting" />
    <input type="submit" value="Submit" /> <span>to add container hosting to your existing repo"</span>
</form>

<h3>What do I get?</h3>
<p>You will get:</p>

<ul>
    <li>An automated quickstart with the framework you choose, with Dockerfile &amp; example code</li>
    <li>Container hosting &amp; running with a web address</li>
    <li>A database, already connected to your app so you don't need to worry about that.</li>
    <li>A web address with a SSL/TLS certificate</li>
    <li>Automatic re-deploy when you do a `git push` to your repo using GitHub actions.</li>
</ul>

<hr />
<p>This service integrates with GitHub</p>
<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="Github logo" width="50px" />
<br />
<small>"GitHub" is owned by GitHub, Inc</small>

<hr />
<h3>FAQ</h3>
<style>
ul#faq li {
    padding: 15px;
}
</style>
<ul id="faq">
  <li><a href="/what-is-container-hosting">What is container hosting?</a></li>
  <li><a href="/is-docker-a-hosting-platform">Is Docker a hosting platform?</a></li>
  <li><a href="/how-do-i-host-a-docker-container">How do I host a docker container?</a></li>
  <li><a href="/what-is-the-difference-between-docker-docker-host-and-docker-container">What is the difference between Docker host and Docker container?</a></li>
  <li><a href="/docker-container-secrets-management">Docker container secrets management</a></li>
</ul>


<h2 id="application">Application Hosting</h2>
<p>Quickly host popular container applications. Click the application you want to host, and we'll
spin up a repo for you to store the application so you can contribute to it/host it.</p>

<ul>
  <li><a class="debounce" href="{{ github_authorize_url_flowise }}">Flowise</a></li>
</ul>



<script>
debounceLinks = document.getElementsByClassName("debounce");
for (i=0;i<debounceLinks.length;i++){
	console.log(debounceLinks[i]);
	debounceLinks[i].addEventListener("click", function(e) {
	    e.target.innerHTML = "Please wait";
	    destination = e.target.href;
	    e.target.href="#";
	    document.location = destination;
	});
}

document.getElementById("existing_repo_form").addEventListener("submit", function(e) {
    console.log("existing_repo_form submitted");
    e.preventDefault();
    [_, _, git_host, git_org_name, git_repo_name] = existing_repo_url.value.split("/");
    let github_authorize_url_existing_repo = "{{ github_authorize_url_existing_repo }}";
    // Update github_authorize_url_existing_repo passing through git repo host, org name & host
    // in auth state flow. To be clear, passing this informatino here has little to do with security,
    // its simply a convenient means of passing that data during the flow for simplicity
    // see https://www.ietf.org/rfc/rfc6749.txt
    github_authorize_url_existing_repo = github_authorize_url_existing_repo.replace("UNTRUSTED_GIT_HOST", git_host).replace("UNTRUSTED_GIT_ORG_NAME", git_org_name).replace("UNTRUSTED_GIT_REPO_NAME", git_repo_name)
    document.location = github_authorize_url_existing_repo;
});
</script>

</html>
