<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Is Docker a hosting platform?</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Docker is not really a hosting platform, you could argue that it's a platform for hosting containers. Docker changes quickly though, such as their recent WASM push which takes a protocol and productising what into a developer friendly service.">
  </head>
  <h1>Is Docker a hosting platform?</h1>

  <p>No, but it probably wants to be. Docker found it's way as a runtime for
  packaging developers software, and became the defacto standard for building and shipping software (web apps get the most attention, but containers are *not limmited to web apps at all).<p>

  <h2>How is Docker a hosting platform then?</h1>

  <p>You could/can use docker to host:
    <ul>
      <li>Containers - aka "docker hub", and this is what Docker is most famous for, but costs them a *lot* of money to run</li>
      <li>Docker Desktop - Which now have more of a freemium model, costs money depending on the size of the company</li>
      <li>Newer 'BETA' platforms Docker is building around the protocol WASM</li>
  </p>

  <p>So in summary, Docker is a collection of opensource services resembling a platform, but perhaps still finding its way to long-term financial sucess and stability (which is true of many open source endeavours).</p>


<hr />
<a href="/">Container hosting</a>
